wubi.quanma.dict.yaml filter=lfs diff=yaml merge=lfs -text
wubi.correction.dict.yaml filter=lfs diff=yaml merge=lfs -text
wubi.extended.dict.yaml filter=lfs diff=yaml merge=lfs -text
wubi.jianma.dict.yaml filter=lfs diff=yaml merge=lfs -text
easy_en.dict.yaml filter=lfs diff=yaml merge=lfs -text
easy_en.user.dict.yaml filter=lfs diff=yaml merge=lfs -text
pinyin.dict.yaml filter=lfs diff=yaml merge=lfs -text
